{% extends "base.html" %}

{% block content %}      

{% load crispy_forms_tags %}

<!--Login--> 
<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <li style="color: red" class="{{ message.tags }}">{{ message }}</li>
          {% endif %}
          {% if message.tags == 'succes' %}
            <li style="color: green" class="{{ message.tags }}">{{ message }}</li>
          {% endif %}
          {% if message.tags == 'info' %}
            <li style="color: blue" class="{{ message.tags }}">{{ message }}</li>
          {% endif %}
        {% endfor %}
    </ul>
  {% endif %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>

{% endblock %}