{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block header %}
    
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({% static 'images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Login <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">Login</h1>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block content %}      


<!--Login--> 
<div class="container py-5 col-md-12 heading-section text-center ftco-animate mb-5 fadeInUp ftco-animated">
  <h1>Get connect to your account !</h1>
  <form method="POST">
    {% csrf_token %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <li style="color: red" class="{{ message.tags }}">{{ message }}</li>
          {% endif %}
          {% if message.tags == 'succes' %}
            <li style="color: green" class="{{ message.tags }}">{{ message }}</li>
          {% endif %}
          {% if message.tags == 'info' %}
            <li style="color: blue" class="{{ message.tags }}">{{ message }}</li>
          {% endif %}
        {% endfor %}
    </ul>
  {% endif %}
    {{ login_form|crispy }}
    <button style="margin: 2em;" class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>

{% endblock %}